In [1]:
import pandas as pd
df = pd.read_csv("D:\Conda Env\MLcode\list of test player of india.csv")
df.head(3)

<>:2: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\C'
C:\Users\parve\AppData\Local\Temp\ipykernel_5528\776823577.py:2: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_csv("D:\Conda Env\MLcode\list of test player of india.csv")

,Index,Name,First match,Last Match,Matchs Played,Runs Scored,Highest score,Batting Average,100s,50s,Total Wickets,Best Bowling,Average,5 Wickets,10 Wickets,Catches,Stumping
0,1,Amar Singh,1932.0,1936.0,7.0,292,51,22.46,0,1.0,28,7/86,30.64,2.0,0.0,3.0,0.0
1,2,Sorabji Colah,1932.0,1933.0,2.0,69,31,17.25,0,0.0,0,0,0.00,0.0,0.0,2.0,0.0
2,3,Jahangir Khan,1932.0,1936.0,4.0,39,13,5.57,0,0.0,4,4/60,63.75,0.0,0.0,4.0,0.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            314 non-null    object
 1   Name             316 non-null    object
 2   First match      314 non-null    float64
 3   Last Match       314 non-null    float64
 4   Matchs Played    314 non-null    float64
 5   Runs Scored      311 non-null    object
 6   Highest score    310 non-null    object
 7   Batting Average  302 non-null    object
 8   100s             309 non-null    object
 9   50s              308 non-null    float64
 10  Total Wickets    238 non-null    object
 11  Best Bowling     183 non-null    object
 12  Average          185 non-null    float64
 13  5 Wickets        239 non-null    float64
 14  10 Wickets       243 non-null    float64
 15  Catches          314 non-null    float64
 16  Stumping         314 non-null    float64
dtypes: float64(9), object(8)
memory usage: 42.2+ KB